{% extends 'layout.html' %}

{% block tilte %}
    Inicio
{% endblock %}

{% block content %}
{% if mensaje %}
        <p> Mensaje: {{mensaje}} </p>
    {% else %}
        <strong>El Mensaje no tiene contenido</strong>
    {% endif %}
    <p> <strong> Cursos Registrados: </strong> </p>
    <p>LP3 legislacion micro procesos investigacion algortimos dinamica</p>
    <p> <strong> Cursos Registrados: </strong> </p>
    <p>LP3 <p> legislacion <p> micro <p> procesos <p> investigacion <p> algortimos <p> dinamica</p>
{% endblock %}